@model List<TestModel>
@{
    var x = ViewData["x"] as string;
    var y = ViewBag.y;
    var z = ViewBag.z;
    //var list = ViewData["list"] as List<TestModel>;

    if (Model is null)
    {
        // do somethings..
    }
}

<div>test</div>

<div>
    x: @x
</div>

<div>
    y: @y
</div>

<div>
    z: @z
</div>

<table class="table table-bordered">
    <tr>
        <td>X</td>
        <td>Y</td>
    </tr>
    <tbody>
        @foreach (var l in Model)
        {
            <tr>
                <td>@l.X</td>
                <td>@l.Y</td>
            </tr>
        }
    </tbody>
</table>